.d-flex{
   background-color: rgb(234, 234, 234);
   height: auto;
   width: 100vw;
}
.d-flex .container-fluid{
    /* border: 5px solid red; */
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
    padding: 4px 50px;
}
 .twitter{
     background-color: #df3740;
     padding: 2px 9px;
     border-radius: 7px 0;
     border: 1px solid gray;
     font-size: 20px;
     /* margin: 100px; */
     text-decoration: none;
}
/* ------------------icon and regestration----------- */
.icon_box{
      background-color: rgb(255, 255, 255);
      width: 100vw;
      height: auto;
      border: 1px solid rgb(129, 129, 129);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 0px 0 0;
}
.icon_box .logo_box img{
     height: 50px;
}
@media (max-width: 647px){
    .icon_box{
         /* background-color: red; */
    }
    .icon_box .logo_box img{
          width: 300px;
    }
 }
 @media (max-width: 459px){
    .icon_box .logo_box img{
        width: 280px;
  }
 }
 @media (max-width: 458px){
    .icon_box .logo_box img{
         width: 190px;
    }
 }
 @media (max-width: 358px){
     .icon_box .logo_box img{
          width: 150px;
     } 
 }
 @media (max-width: 314px){
     .icon_box .logo_box img{
          width: 130px;
     } 
 }

 /* ===========================navbar =================== */
.navbar{
       background-color: #df3740;
       width: 100vw;
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;

}
.navbar a{
      /* border: 2px solid rgb(29, 6, 131); */
      /* min-width: 200px; */
      padding: 5px  9px;
      text-align: center;
      color: white;
      font-weight: bold;
      text-decoration: none;
      margin: 3px 0;
      transition: all .5s ;
}
.navbar a:hover{
     background-color: white;
     /* border: 1px solid black; */
     color: #df3740;
}
@media (max-width: 1049px) {
    .navbar a{
          border: 1px solid black;
    }
}
/* =====================silding banner================== */
.slider_box{
     width: 100vw;
     height: 350px;
     /* border: 2px solid red; */
     position: relative;
     overflow: hidden;
     top: 0;
     left: 0;
  }
  .slider_box .img_box{
      /* border: 2px solid blue; */
      display: flex;
      transition: all 0.5s;
      
  }
  .slid{
     flex: 0 0 100%;
     height: 400px;
     width: 500px;
     /* border: 2px solid orange; */
  }
  .slid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn{
     /* border: 2px solid red; */
     width: 100%;
     position: absolute;
     bottom: 20px;
     left: 0px;
     display: flex;
     justify-content: space-between;
     padding: 0 10px;
  }
  .btn button{
      height: 35px;
      width: 35px;
      border-radius: 4px 0;
      background-color: #df3740;
      color: white;
      border: none;
      border: 2px solid gray;

  }


  .active{
    transform: translateX(0);
  }
/* ----------------------about--------------------- */
.about_box{
      width: 100vw;
      height: auto;
      /* border: 2px solid rgb(4, 0, 255); */
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 80px 0;
}
.about_box > div{
      /* border: 5px solid olivedrab; */
      max-width: 660px;
      min-width: 280px;
      height: auto;
      margin: 15px;
      padding: 10px;
}
.about_box .about_box1 img{
      width: 100%;
}
/* ---------------------more about----------------- */
.container{
     /* border: 2px solid red; */
     width: 100vw;
     height: auto;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 80px 0;
}
.container > div{
    max-width: 660px;
    min-width: 280px;
     /* border: 2px solid blue; */
     margin: 10px 10px;
     padding: 10px;
     background-color: rgb(245, 244, 244);
}
.container p{
      text-align: center;
      margin-top: 20px;
}
.container a{
       font-weight: bold;
       color: gray;
       

}
.container a:hover{
       color: #df3740;
}